.phone_short
  %h1= phone.full_name
  %p
    %span<
      %b<> CPU:&nbsp;
      info phone.cpu
    %span<
      %b<> RAM:&nbsp;
      info phone.ram
    %span<
      %b< OS:&nbsp;
      = info "#{phone.os} #{phone.os_version}"
  %p<
    = link_to 'Szczegóły', phone_path(phone)
