%article.phone_short
  %header.bar.clearfix
    %span.title= phone.full_name
    = link_to 'Szczegóły', phone_path(phone), class: 'right'
  %section.inner
    %p
      %div<
        %b<> Cena:&nbsp;
        = info phone.price
        zł
      %div<
        %b<> CPU:&nbsp;
        = info phone.cpu
      %div<
        %b<> RAM:&nbsp;
        = info phone.ram
      %div<
        %b< OS:&nbsp;
        = info "#{phone.os} #{phone.os_version}"
