%article.inner
  %header.clearfix
    %span.title= phone.full_name
    = link_to 'Dodaj do koszyka', add_phone_to_cart_path(phone), method: 'put', class: 'right'
    = link_to 'Szczegóły', phone_path(phone), class: 'right'
  %section.inner
    %p
      %div<
        %b<> Cena:&nbsp;
        = info phone.price
        zł
      %div<
        %b<> CPU:&nbsp;
        = info phone.cpu
      %div<
        %b<> RAM:&nbsp;
        = info phone.ram
      %div<
        %b< OS:&nbsp;
        = info "#{phone.os} #{phone.os_version}"
