%article.phone
  %header.bar.clearfix
    %span.title.left= @phone.full_name
    %span.right Cena: #{info @phone.price.to_s} zł
  %section.inner
    %h2 Ogólne:
    %p<
      %b<> Producent:&nbsp;
      = @phone.manufacturer
    %p<
      %b<> Nazwa:&nbsp;
      = @phone.name
    %p<
      %b<> Model:&nbsp;
      = @phone.model_name
  %section.inner
    %h2 Dane techniczne
    %p<
      %b<> CPU:&nbsp;
      = info @phone.cpu
    %p<
      %b<> GPU:&nbsp;
      = info @phone.gpu
    %p<
      %b<> Ram:&nbsp;
      = info @phone.ram
  %section.inner
    %h2 Łączność
    %p<
      %b<> Wi-Fi:&nbsp;
      = feature @phone.wifi
    %p<
      %b<> Bluetooth:&nbsp;
      = feature @phone.bluetooth, @phone.bluetooth.to_s
    %p<
      %b<> GPS:&nbsp;
      = feature @phone.gps
    %h2 Oprogramowanie
    %p< 
      %b<> OS:&nbsp;
      = info @phone.os
      &nbsp;#{@phone.os_version if @phone.os && @phone.os_version}
