%header.bar
  Twój Koszyk
  = link_to 'Zamów', confirm_order_path, method: 'put', class: 'right'
.inner
  %ul 
    - @order.order_items.each do |order_item|
      %li 
        = link_to order_item.phone.full_name, phone_path(order_item.phone)
        .right
          #{order_item.quantity}*#{order_item.phone.price} zł
          = link_to '[-]', remove_phone_from_cart_path(order_item.phone), method: 'put'
  .cart_summary
    Cena łącznie #{@order.total_price}
