%header.bar Twój Koszyk
.inner
  %ul 
    - @order.order_items.each do |order_item|
      %li 
        = link_to order_item.phone.full_name, phone_path(order_item.phone)
        , #{order_item.quantity}*#{order_item.phone.price} zł
        = link_to '[-]', add_phone_to_cart_path(order_item.phone)
%b
  Cena łącznie #{@order.total_price}
