- @phones.each do |phone|
  .clearfix
    %span.left
      = phone.name 
    %span.right
      = link_to 'Szczegóły', admin_phone_path(phone)
    %span.right
      = link_to 'Edytuj', edit_admin_phone_path(phone)
    %span.right
      = link_to 'Usuń', admin_phone_path(phone), method: 'delete'
%p
  = link_to 'Dodaj', new_admin_phone_path
