%p Numer zamówienia: #{@order.id}
%p Data utworzenia: #{@order.created_at}
%p Data modyfikacji: #{@order.updated_at}
%p Potwierdzony: #{feature @order.confirmed}
%p Id zamawiającego: #{@order.buyer_id}
Produkty:
%ul
  - @order.order_items.each do |order_item|
    %li 
      = link_to order_item.phone.name, phone_path(order_item.phone)
      , #{order_item.quantity} sztuk(i)
