!!! 5
%html
  %head
    %title Sklep z telefonami komórkowymi 
    %meta{ 'http-equiv'.to_sym =>  "content-type", :content => "text/html", charset: "UTF-8" }
  = stylesheet_link_tag    "application", media: 'all'
  = stylesheet_link_tag    "categories", media: 'all'
  = stylesheet_link_tag    "cart", media: 'all'
  = stylesheet_link_tag    "search", media: 'all'
  = javascript_include_tag "application" 
  = csrf_meta_tags
  %body
    #page
      = render 'header'
      = render 'navbar'
      .clearfix
        #sidebar
          #mini_search_box
            = render '/search/box'
          #mini_cart
            = render '/cart/list'
          #mini_categories
            = render template: 'categories/index'
        #content
          = yield
          .notice= notice
          .alert= alert
      #footer 
        Autor: Adrian Dyliński. Wszelkie prawa zastrzeżone.
